<section id="catering" class="py-5">
    <div class="slanted-bg flex">
      <div class="slanted-bg-circle"></div>
      <div class="container flex">
        <h2>call in advance for catering orders</h2>
      </div>

      <svg height="50" width="250" class="svg">
        <circle cx="125" cy="125" r="65%" fill="white"></circle>
      </svg>
    </div>

    <div class="section-title flex">
      <div class="icon">
        <img src="images/dishes-icon.png" alt="chefe icon" />
      </div>
      <h2>Catering</h2>
    </div>

    <div class="container">
      <div class="catering-grid grid">
        <div class="catering-item">
          <div class="image">
            <img src="images/sq-1.jpg" alt="Dishes" />
          </div>
          <h3>Fresh Salads</h3>
        </div>

        <div class="catering-item">
          <div class="image">
            <img src="images/sq-2.jpg" alt="Dishes" />
          </div>
          <h3>Party Platters</h3>
        </div>

        <div class="catering-item">
          <div class="image">
            <img src="images/sq-3.jpg" alt="Dishes" />
          </div>
          <h3>Sea Foods</h3>
        </div>

        <div class="catering-item">
          <div class="image">
            <img src="images/sq-4.jpg" alt="Dishes" />
          </div>
          <h3>Vegan Desserts</h3>
        </div>
      </div>
    </div>
  </section>