<section id="menu" class="py-5">
    <div class="slanted-bg flex">
      <div class="slanted-bg-circle"></div>
      <div class="container flex">
        <h2>food that we serve to our guest</h2>
      </div>

      <svg height="50" width="250" class="svg">
        <circle cx="125" cy="125" r="65%" fill="white"></circle>
      </svg>
    </div>

    <div class="section-title flex">
      <div class="icon">
        <img src="images/menu-icon.png" alt="chefe icon" />
      </div>
      <h2>Menu</h2>
    </div>

    <div class="container">
      <div class="menu-grid grid">
        <div class="menu-item">
          <div class="image">
            <img src="images/food_squid.jpg" alt="squid" />
          </div>
          <div class="info">
            <h3>Squid (seafood)</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicconsectetur
              adipisicing elit. In?
            </p>
            <h4>$ 12.40</h4>
          </div>
        </div>

        <div class="menu-item">
          <div class="image">
            <img src="images/food_noodles.jpg" alt="squid" />
          </div>
          <div class="info">
            <h3>Noodles</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicconsectetur
              adipisicing elit. In?
            </p>
            <h4>$ 20.40</h4>
          </div>
        </div>

        <div class="menu-item">
          <div class="image">
            <img src="images/food_dumplings.jpg" alt="squid" />
          </div>
          <div class="info">
            <h3>Dumplings</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicconsectetur
              adipisicing elit. In?
            </p>
            <h4>$ 35.40</h4>
          </div>
        </div>

        <div class="menu-item">
          <div class="image">
            <img src="images/food_crab.jpg" alt="squid" />
          </div>
          <div class="info">
            <h3>Crab</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicconsectetur
              adipisicing elit. In?
            </p>
            <h4>$ 52.40</h4>
          </div>
        </div>

        <div class="menu-item">
          <div class="image">
            <img src="images/food_cooked_bacon.jpg" alt="squid" />
          </div>
          <div class="info">
            <h3>Cooked Bacon</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicconsectetur
              adipisicing elit. In?
            </p>
            <h4>$ 15.30</h4>
          </div>
        </div>

        <div class="menu-item">
          <div class="image">
            <img src="images/food_cheese_burger.jpg" alt="squid" />
          </div>
          <div class="info">
            <h3>Cheese Burger</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicconsectetur
              adipisicing elit. In?
            </p>
            <h4>$ 10.40</h4>
          </div>
        </div>

        <div class="menu-item">
          <div class="image">
            <img src="images/food_sushi.jpg" alt="squid" />
          </div>
          <div class="info">
            <h3>Sushi</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicconsectetur
              adipisicing elit. In?
            </p>
            <h4>$ 60.40</h4>
          </div>
        </div>

        <div class="menu-item">
          <div class="image">
            <img src="images/food_bacon_sandwich.jpg" alt="squid" />
          </div>
          <div class="info">
            <h3>Bacon Sandwich</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicconsectetur
              adipisicing elit. In?
            </p>
            <h4>$ 13.50</h4>
          </div>
        </div>
      </div>
    </div>
  </section>