<section id="services" class="services py-5">
    <div class="slanted-bg flex">
      <div class="slanted-bg-circle"></div>
      <div class="container flex">
        <h2>Our Expertise In Delicious Food</h2>
      </div>

      <svg height="50" width="250" class="svg">
        <circle cx="125" cy="125" r="65%" fill="white"></circle>
      </svg>
    </div>

    <div class="section-title flex">
      <div class="icon">
        <img src="images/chef-icon.png" alt="chefe icon" />
      </div>
      <h2>Services</h2>
    </div>

    <div class="container">
      <div class="services-grid grid">
        <article class="service-item">
          <div class="flex flex-sb service-item-head">
            <span class="num">01</span>
            <h3>High Quality</h3>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
            rerum minima quisquam ex vitae totam sunt facilis blanditiis
            recusandae amet. Est tenetur ducimus eos officia harum tempore
            in accusamus sed.
          </p>
          <a href="#" class="button">Read More</a>
        </article>

        <article class="service-item">
          <div class="flex flex-sb service-item-head">
            <span class="num">02</span>
            <h3>Best Recipes</h3>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
            rerum minima quisquam ex vitae totam sunt facilis blanditiis
            recusandae amet. Est tenetur ducimus eos officia harum tempore
            in accusamus sed.
          </p>
          <a href="#" class="button">Read More</a>
        </article>

        <article class="service-item">
          <div class="flex flex-sb service-item-head">
            <span class="num">03</span>
            <h3>Real Taste</h3>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
            rerum minima quisquam ex vitae totam sunt facilis blanditiis
            recusandae amet. Est tenetur ducimus eos officia harum tempore
            in accusamus sed.
          </p>
          <a href="#" class="button">Read More</a>
        </article>
      </div>
    </div>
  </section>