<section id="teams" class="py-5">
    <div class="slanted-bg flex">
      <div class="slanted-bg-circle"></div>
      <div class="container flex">
        <h2>excellent service & good prices</h2>
      </div>

      <svg height="50" width="250" class="svg">
        <circle cx="125" cy="125" r="65%" fill="white"></circle>
      </svg>
    </div>

    <div class="section-title flex">
      <div class="icon">
        <img src="images/team-icon.png" alt="chefe icon" />
      </div>
      <h2>Teams</h2>
    </div>

    <div class="container">
      <div class="teams-grid grid">
        <div class="teams-item">
          <div class="image">
            <img src="images/person-1.jpg" alt="Worker" />
          </div>
          <h3>Richard Brow</h3>
          <small>Executive Chef</small>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Deserunt, vitae.
          </p>
        </div>

        <div class="teams-item">
          <div class="image">
            <img src="images/person-2.jpg" alt="Worker" />
          </div>
          <h3>Helen Morrinson</h3>
          <small>Restaurant Manger</small>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Deserunt, vitae.
          </p>
        </div>

        <div class="teams-item">
          <div class="image">
            <img src="images/person-3.jpg" alt="Worker" />
          </div>
          <h3>Sanson Lopez</h3>
          <small>Co-Chef</small>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Deserunt, vitae.
          </p>
        </div>

        <div class="teams-item">
          <div class="image">
            <img src="images/person-4.jpg" alt="Worker" />
          </div>
          <h3>Fred Quinn</h3>
          <small>Chef</small>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Deserunt, vitae.
          </p>
        </div>
      </div>
    </div>
  </section>